
.Navbar {
    text-decoration: none;  
}
/* .btn {
    color: blue
}

.Navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;    
}
*/

.Cont{
    text-decoration: none;
    color: rgb(163, 164, 164);
} 

.Cont.hover{
    color: black;
    text-decoration: none;
}