
/* .btn {
    color: blue
}

.Navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;    
}

.Cont{
    text-align: center;
    width: 200px;
} */